/* CSS files add styling rules to your content */

body {
  font-family: "Lakki Reddy", cursive;
  margin: 0;
  background-image: linear-gradient(lightblue, skyblue);
  background-image: url("scoob new bg.jpg");

  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url("cursor.cur"), auto;
}

body,
html {
  height: 100%;
}

video{
  position: fixed;
  z-index: -1;
  height: 100%;
}

#myVideo{
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("ScoobertDoobert_v02.mp4");
  background-color: transparent;
  z-index: -1;

}

a {
  color: white;
  text-decoration: none;
}


h1 {
  font-family: "Lakki Reddy", cursive;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 0;
  font-style: bold;
  text-transform: uppercase;
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  line-height: 100%;
/*   display: block; */
}

h2 {
  font-family: "Lakki Reddy", cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 0;
  text-transform: uppercase;
  max-width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  font-style: bold;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 6vw;
  mix-blend-mode: multiply;
}

h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 3vw;
  text-transform: uppercase;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.link a {
  font-size: 1.5vw;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link {
  text-align: center;
  padding: 1vh;
  margin: 1vh 1vw;
  flex: 9%;
  border-radius: 50%;
  text-transform: uppercase;
  display: inline-block;
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
/*   filter: url("#turbulence"); */
  box-shadow: 1vw 1vh;
}

@keyframes pulse {
  0% {
    background-color: rgba(55, 110, 220, 0.2);
  }
  25% {
    background-color: rgba(55, 110, 220, 0.4);
  }
  50% {
    background-color: rgba(55, 110, 220, 0.6);
  }
  75% {
    background-color: rgba(55, 110, 220, 0.4);
  }
  100% {
    background-color: rgba(55, 110, 220, 0.2);
  }
}

@keyframes pulse2 {
  0% {
    background-color: rgba(55, 110, 220, 0.2);
  }
  25% {
    background-color: rgba(55, 110, 220, 0.5);
  }
  50% {
    background-color: rgba(55, 110, 220, 0.9);
  }
  75% {
    background-color: rgba(55, 110, 220, 0.5);
  }
  100% {
    background-color: rgba(55, 110, 220, 0.2);
  }
}


.link:hover {
  background-color: rgba(110, 180, 220, 0.8);
  transform: rotateZ(3deg);
}


.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
}

.bio {
  background-image: linear-gradient(
    rgba(50, 110, 220, 0.5),
    rgba(60, 140, 250, 0.5)
  );
  text-align: justify;
  display: block;
  margin: 5%;
  padding: 3% 4%;
  color: white;
  font-size: 18px;
  animation-name: pulse2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.bio a {
  color: black;
}

.footer {
  text-align: center;
  padding: 10px;
}

#scroll-up{
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#scroll-up:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

svg {
  display: none;
}

#beformer {
  text-align: left;
  font-family: "Beth Ellen", cursive;
  font-size: 14px;
  width: 8em;
  height: 2.5em;
/*   text-align: center; */
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  line-height: 50%;
  top: 10px;
  right: -20px;
  border-radius: 40px;
  transition: background-color 0.1s linear;
}

#beformer a {
  transition: color 0.1s linear;
}

#beformer:hover a {
  color: black;
}

#records{
/*     text-align: right; */
  transform: scale(-1, 1);
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-right: .5em;
  color: rgba(0, 0, 0, 0.5);
}


#records a{
  color: rgba(255, 255, 255, 0.5);
}

/* FOR DESKTOP */

@media only screen and (min-width: 1200px) {
  h2 {
/*     margin-top: 30px;
    margin-bottom: 40px;
    max-width: 18%;
  */
  }
  
  h3 {
/*     max-width: 50%;
   */
  }
  
  .navbar {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: -400px;
    height: 0;
    overflow: hidden;
  }

  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
  }

  .bio {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
